
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <% for(var i=0; i<news.length; i++) { %>
          <div class="row news-item">
            <div class="col-md-12">
              <div class="d-flex">
                <a href='#'><i class='fas fa-caret-square-up mr-1 text-pinterest'></i></a>
                <b class="mb-0 ellipsis"><%= news[i].title%></b>
                &nbsp;
                <span>(<%= news[i].domain%>)</span>
              </div>
              <div class='stats'>
                <p class="text-gray mb-0">
                  <small>
                    <span><i class='fas fa-heart text-pinterest'></i> <%= news[i].stats.likes %> Likes</span>
                    <span class='px-1'>&nbsp;</span>
                    <small class="Last-responded mr-2 mb-0 text-muted text-muted">submitted 3 hours ago</small>
                    <span class='px-1'>&nbsp;</span>
                    <span><i class='fas fa-comments text-twitter'></i> <%= news[i].stats.comments %> Comments</span>
                    <span class='px-1'>&nbsp;</span>
                    <% for(var j=0; j<news[i].tags.length; j++) { %>
                      <span class="badge badge-primary badge-xs"><%= news[i].tags[j] %></span>
                    <% } %>
                  </small>
                </p>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    </div>

    <div class='actions mt-3'>
      <button type="button" class="btn btn-secondary btn-block">
        Load More
      </button>
    </div>
  </div>
</div>